@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.banner {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}
.banner__container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.banner__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.banner__image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__content {
  max-width: 573px;
  width: 100%;
  padding-block: 157px;
  position: relative;
  color: #000;
  text-align: left;
  z-index: 2;
}
.container .banner__content {
  left: 0;
  text-align: left;
}
.banner__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  .banner__title {
    font-size: 32px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 576px) {
  .banner__title {
    font-size: 16px;
    font-weight: 600;
  }
}
.banner__subtitle {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  .banner__subtitle {
    font-size: 14px;
    font-weight: normal;
  }
}
@media only screen and (max-width: 576px) {
  .banner__subtitle {
    font-size: var(--font-size-xsmall);
    font-weight: normal;
  }
}
@media only screen and (max-width: 576px) {
  .container .banner__content {
    text-align: center;
    left: 0;
  }
}

.banner__button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-radius: 100px;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.collections {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.collections__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.collections__header h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.collections__header .view-all {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
}
.collections__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media only screen and (max-width: 768px) {
  .collections__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 576px) {
  .collections__grid {
    grid-template-columns: 1fr;
  }
}
.collections__item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.collections__item img {
  width: 100%;
  height: auto;
  display: block;
}
.collections__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.collections__item:first-child {
  grid-column: span 2;
  grid-row: span 1;
}
.collections__item:first-child img {
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .collections__item:first-child {
    grid-column: span 2;
    grid-row: span 1;
  }
}
@media only screen and (max-width: 576px) {
  .collections__item:first-child {
    grid-column: span 1;
  }
}

.customer-feedback {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.customer-feedback__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.customer-feedback__header__title {
  font-size: 24px;
  font-weight: bold;
}
.customer-feedback__header__nav {
  display: flex;
  gap: 10px;
}
.customer-feedback__btn {
  text-align: center;
  background-color: #F3F3F3;
  border: none;
  border-radius: 50%;
  padding: 11px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.customer-feedback__btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.customer-feedback__btn--left svg, .customer-feedback__btn--right svg {
  width: 20px;
  height: 20px;
}
.customer-feedback__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  margin-bottom: 32px;
}
.customer-feedback__card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 232px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer-feedback__image {
  width: 100%;
  height: 150px;
  background: url("/path-to-placeholder.png") center/cover no-repeat;
}
.customer-feedback__details {
  margin-top: 62px;
  padding: 15px;
}
.customer-feedback__name {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 0.5;
  margin-bottom: 4px;
}
.customer-feedback__name span {
  font-size: 8px;
  color: #000;
  padding: 2px 6px;
  border: 1px solid #000;
  border-radius: 50px;
}
.customer-feedback__meta {
  width: 12px;
  height: 12px;
  margin-bottom: 8px;
}
.customer-feedback__meta span {
  color: #FFBE15;
}
.customer-feedback__text {
  font-size: 12px;
  font-weight: 400;
  color: #000;
  line-height: 1.5;
}
.customer-feedback__load-more {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.customer-feedback__load-more:hover {
  background-color: transparent;
  color: #000;
}

.features {
  max-width: 100%;
  width: 100%;
  min-height: 248px;
  padding: 64px 100px;
  margin-bottom: 100px;
  background-color: #000;
}
@media only screen and (max-width: 768px) {
  .features {
    padding: 32px 20px;
    max-height: none;
  }
}
@media only screen and (max-width: 1024px) {
  .features {
    padding: 48px 60px;
  }
}
.features__container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .features__container {
    flex-direction: column;
    gap: 20px;
  }
}
.features__item {
  padding-inline: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .features__item {
    padding-inline: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .features__item {
    width: 100%;
    padding-inline: 0;
    padding-block: 32px;
  }
}
.features__icon {
  margin-bottom: 16px;
  width: 48px;
  height: 48px;
}
@media only screen and (max-width: 768px) {
  .features__icon {
    width: 36px;
    height: 36px;
    margin-bottom: 20px;
  }
}
.features__title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding-inline: 38px;
  line-height: 1.5em;
}
@media only screen and (max-width: 1024px) {
  .features__title {
    font-size: 16px;
    padding-inline: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .features__title {
    font-size: 14px;
    padding-inline: 105px;
  }
}

.flash-sale {
  width: 100%;
  background-color: #000;
  color: #fff;
  height: 232px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.flash-sale__container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.flash-sale__content {
  flex: 1;
}
.flash-sale__title {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 8px;
}
.flash-sale__description {
  font-size: 14px;
  line-height: 1;
}
.flash-sale__timer {
  display: flex;
  gap: 8px;
}
@media only screen and (max-width: 576px) {
  .flash-sale__timer {
    justify-content: center;
    margin-top: 20px;
  }
}
.flash-sale__time-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  max-width: 70px;
  width: 100%;
  height: 100px;
  border: 1px solid #000;
  text-align: center;
  padding: 0 40.5px 0 40.5px;
}
.flash-sale__time {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
}
.flash-sale__label {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer {
  background-color: #000;
  color: #fff;
}
.footer__outer-container {
  width: 100%;
}
.footer__inner-container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 134px;
  justify-items: start;
  align-items: start;
  padding-block: 100px;
}
@media only screen and (max-width: 1024px) {
  .footer__inner-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    padding-block: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .footer__inner-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .footer__inner-container {
    grid-template-columns: 1fr;
    padding-block: 40px;
    padding-inline: 20px;
  }
}
.footer__section--navigate .footer__heading, .footer__section--categories .footer__heading, .footer__section--support .footer__heading, .footer__section--new-arrivals .footer__heading, .footer__section--social .footer__heading {
  font-size: 14px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .footer__section--navigate .footer__heading, .footer__section--categories .footer__heading, .footer__section--support .footer__heading, .footer__section--new-arrivals .footer__heading, .footer__section--social .footer__heading {
    font-size: 14px;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 576px) {
  .footer__section--navigate .footer__heading, .footer__section--categories .footer__heading, .footer__section--support .footer__heading, .footer__section--new-arrivals .footer__heading, .footer__section--social .footer__heading {
    margin-bottom: 10px;
  }
}
.footer__section--navigate .footer__list, .footer__section--categories .footer__list, .footer__section--support .footer__list, .footer__section--new-arrivals .footer__list, .footer__section--social .footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__section--navigate .footer__list .footer__item, .footer__section--categories .footer__list .footer__item, .footer__section--support .footer__list .footer__item, .footer__section--new-arrivals .footer__list .footer__item, .footer__section--social .footer__list .footer__item {
  margin-bottom: 16px;
}
@media only screen and (max-width: 768px) {
  .footer__section--navigate .footer__list .footer__item, .footer__section--categories .footer__list .footer__item, .footer__section--support .footer__list .footer__item, .footer__section--new-arrivals .footer__list .footer__item, .footer__section--social .footer__list .footer__item {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 576px) {
  .footer__section--navigate .footer__list .footer__item, .footer__section--categories .footer__list .footer__item, .footer__section--support .footer__list .footer__item, .footer__section--new-arrivals .footer__list .footer__item, .footer__section--social .footer__list .footer__item {
    margin-bottom: 10px;
  }
}
.footer__section--navigate .footer__list .footer__item .footer__link, .footer__section--categories .footer__list .footer__item .footer__link, .footer__section--support .footer__list .footer__item .footer__link, .footer__section--new-arrivals .footer__list .footer__item .footer__link, .footer__section--social .footer__list .footer__item .footer__link {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
.footer__section--navigate .footer__list .footer__item .footer__link:hover, .footer__section--categories .footer__list .footer__item .footer__link:hover, .footer__section--support .footer__list .footer__item .footer__link:hover, .footer__section--new-arrivals .footer__list .footer__item .footer__link:hover, .footer__section--social .footer__list .footer__item .footer__link:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .footer__section--navigate .footer__list .footer__item .footer__link, .footer__section--categories .footer__list .footer__item .footer__link, .footer__section--support .footer__list .footer__item .footer__link, .footer__section--new-arrivals .footer__list .footer__item .footer__link, .footer__section--social .footer__list .footer__item .footer__link {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .footer__section--navigate .footer__list .footer__item .footer__link, .footer__section--categories .footer__list .footer__item .footer__link, .footer__section--support .footer__list .footer__item .footer__link, .footer__section--new-arrivals .footer__list .footer__item .footer__link, .footer__section--social .footer__list .footer__item .footer__link {
    font-size: 14px;
  }
}
.footer__bottom {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}
.footer__bottom .footer__copy {
  font-size: 12px;
}
.footer__bottom .footer__payment-options {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__bottom .footer__payment-options img {
  width: 50px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .footer__bottom .footer__payment-options img {
    width: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .footer__bottom .footer__payment-options img {
    width: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .footer__bottom {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 576px) {
  .footer__bottom {
    gap: 10px;
  }
}
.footer__logo {
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}
.footer__logo img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .footer__logo img {
    width: 80%;
  }
}
@media only screen and (max-width: 576px) {
  .footer__logo img {
    width: 60%;
  }
}

.image-gallery {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.image-gallery__row {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  .image-gallery__row {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .image-gallery__row--top, .image-gallery__row--bottom {
    margin: 20px 0;
  }
}
.image-gallery__row--top {
  margin-bottom: 40px;
}
.image-gallery__row--bottom {
  margin-top: 40px;
}
.image-gallery__img {
  height: auto;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .image-gallery__img {
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .image-gallery__img--1, .image-gallery__img--2, .image-gallery__img--3, .image-gallery__img--4 {
    position: static;
    top: unset;
    right: unset;
  }
}
.image-gallery__img--1 {
  position: relative;
  top: 215px;
  right: 90px;
}
.image-gallery__img--2 {
  position: relative;
  top: 25px;
  right: 32px;
}
.image-gallery__img--3 {
  position: relative;
  top: -150px;
  right: -170px;
}
.image-gallery__img--4 {
  position: relative;
  top: -300px;
  right: -210px;
}
.image-gallery__center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .image-gallery__center {
    margin-top: 20px;
  }
}
.image-gallery__logo {
  width: 90px;
  height: auto;
  position: relative;
  top: -92px;
  right: -20px;
}
@media only screen and (max-width: 768px) {
  .image-gallery__logo {
    position: static;
    top: unset;
    right: unset;
    margin-top: 15px;
  }
}

.new-arrivals {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  text-align: end;
  position: relative;
}
.new-arrivals__container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.new-arrivals__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
@media only screen and (max-width: 576px) {
  .new-arrivals__header {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .new-arrivals__header {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1024px) {
  .new-arrivals__header {
    flex-direction: row;
  }
}
@media only screen and (max-width: 1440px) {
  .new-arrivals__header {
    flex-direction: row;
  }
}
.new-arrivals__title {
  margin: 100px 0 32px 0;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 10;
}
@media only screen and (max-width: 576px) {
  .new-arrivals__title {
    font-size: 1.5rem;
    margin: 50px 0 20px 0;
  }
}
@media only screen and (max-width: 768px) {
  .new-arrivals__title {
    font-size: 1.75rem;
    margin: 80px 0 28px 0;
  }
}
@media only screen and (max-width: 1024px) {
  .new-arrivals__title {
    font-size: 2rem;
    margin: 100px 0 32px 0;
  }
}
@media only screen and (max-width: 1440px) {
  .new-arrivals__title {
    font-size: 2.5rem;
    margin: 120px 0 40px 0;
  }
}
.new-arrivals__nav {
  margin: 100px 0 32px 0;
  z-index: 10;
}
@media only screen and (max-width: 576px) {
  .new-arrivals__nav ul {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .new-arrivals__nav ul {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1024px) {
  .new-arrivals__nav ul {
    flex-direction: row;
  }
}
@media only screen and (max-width: 1440px) {
  .new-arrivals__nav ul {
    flex-direction: row;
  }
}
.new-arrivals__nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.new-arrivals__nav ul .new-arrivals__menu-item {
  cursor: pointer;
  font-size: 1rem;
  color: #808080;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}
.new-arrivals__nav ul .new-arrivals__menu-item:hover {
  color: #000;
  text-decoration: none;
}
.new-arrivals__nav ul .new-arrivals__menu-item.active {
  color: #000;
}
.new-arrivals__nav ul .new-arrivals__menu-item.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.new-arrivals__nav ul li:first-child .new-arrivals__menu-item {
  color: #000;
  position: relative;
}
.new-arrivals__nav ul li:first-child .new-arrivals__menu-item::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.new-arrivals__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.new-arrivals__background img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.new-arrivals__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 576px) {
  .new-arrivals__carousel {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .new-arrivals__carousel {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1024px) {
  .new-arrivals__carousel {
    flex-direction: row;
  }
}
@media only screen and (max-width: 1440px) {
  .new-arrivals__carousel {
    flex-direction: row;
  }
}
.new-arrivals__arrow {
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 15px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
@media only screen and (max-width: 576px) {
  .new-arrivals__arrow {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .new-arrivals__arrow {
    display: none;
  }
}
.new-arrivals__arrow--left {
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
.new-arrivals__arrow--right {
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
.new-arrivals__items {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  position: relative;
  flex-wrap: wrap;
  z-index: 2;
}
@media only screen and (max-width: 576px) {
  .new-arrivals__items {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .new-arrivals__items {
    justify-content: center;
  }
}
@media only screen and (max-width: 1024px) {
  .new-arrivals__items {
    justify-content: center;
    gap: 2rem;
  }
}
.new-arrivals__item {
  position: relative;
  border-radius: 10px;
  text-align: center;
}
.new-arrivals__image {
  position: relative;
}
.new-arrivals__image img {
  width: 100%;
  border-radius: 8px;
}
.new-arrivals__details {
  position: relative;
  margin-top: 1rem;
  text-align: left;
}
.new-arrivals__product-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 4px;
}
.new-arrivals__price {
  font-size: 18px;
  color: #000;
  margin-bottom: 12px;
}
.new-arrivals__colors {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  margin-bottom: 32px;
}
.new-arrivals__color {
  width: 12px;
  height: 12px;
  border-radius: 0;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  cursor: pointer;
}
.new-arrivals__color:active {
  border-color: #000;
}
.new-arrivals__color.selected {
  border-color: #000;
}
.new-arrivals__heart {
  position: absolute;
  left: 16px;
  top: -529%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  padding: 11.5px 10.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.new-arrivals__heart .heart-icon {
  width: 19.5px;
  height: 18.5px;
  fill: #000;
}
.new-arrivals__pagination {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-left: 5px;
}
.new-arrivals__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  padding: 1px;
}
.new-arrivals__dot--active {
  background: #fff;
  border: 0.5px solid #000;
  padding: 3px;
}
.new-arrivals__shop-btn {
  margin-top: 1rem;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
  display: inline-block;
}
.new-arrivals__shop-btn:hover {
  background: #333;
}
.new-arrivals__shop-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff;
}

.newsletter {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-block: 100px;
  text-align: center;
  background-color: #121212;
  color: #fff;
}
.newsletter__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .newsletter__title {
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .newsletter__title {
    font-size: 14px;
  }
}
.newsletter__subtitle {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .newsletter__subtitle {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .newsletter__subtitle {
    margin-bottom: 20px;
  }
}
.newsletter__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 576px) {
  .newsletter__form {
    flex-direction: column;
    gap: 20px;
  }
}
.newsletter__button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  position: relative;
  left: -29px;
}
.newsletter__button svg path {
  fill: #fff;
}
.newsletter__button:hover {
  color: #bbbbbb;
}
@media only screen and (max-width: 768px) {
  .newsletter__button {
    font-size: 18px;
    left: -20px;
  }
}
@media only screen and (max-width: 576px) {
  .newsletter__button {
    font-size: 16px;
    left: 0;
  }
}
.newsletter__input {
  flex: 1;
  max-width: 536px;
  padding: 16px 24px 16px 0;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
}
.newsletter__input::placeholder {
  color: #bbbbbb;
}
@media only screen and (max-width: 768px) {
  .newsletter__input {
    max-width: 400px;
  }
}
@media only screen and (max-width: 576px) {
  .newsletter__input {
    max-width: 100%;
    padding: 16px 10px;
  }
}

.product__section {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
@media only screen and (max-width: 576px) {
  .product__section {
    margin-bottom: 20px;
  }
}
.product__heading {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media only screen and (max-width: 576px) {
  .product__heading {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .product__heading {
    font-size: 18px;
    margin-bottom: 35px;
  }
}
.product__container {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}
@media only screen and (max-width: 576px) {
  .product__container {
    flex-direction: column;
    gap: 16px;
  }
}
.product__images {
  position: relative;
  display: flex;
}
@media only screen and (max-width: 576px) {
  .product__images {
    flex-direction: column;
    align-items: center;
  }
}
.product__main-image img {
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 576px) {
  .product__main-image {
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .product__main-image {
    max-width: 90%;
  }
}
.product__thumbnails {
  display: flex;
  flex-direction: column;
  height: 99%;
  justify-content: space-between;
  position: absolute;
  left: -120px;
}
.product__thumbnails img {
  flex: 1;
  width: auto;
  height: auto;
  max-height: 20%;
  object-fit: cover;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-out;
}
.product__thumbnails img:hover {
  transform: translateY(-5px);
}
@media only screen and (max-width: 576px) {
  .product__thumbnails img {
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 576px) {
  .product__thumbnails {
    left: 75px;
    height: 100%;
    flex-direction: row;
    align-items: end;
    position: relative;
  }
}
.product__details {
  max-width: 609px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 576px) {
  .product__details {
    padding: 10px;
    flex-direction: column;
    gap: 20px;
  }
}
.product__title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media only screen and (max-width: 576px) {
  .product__title {
    font-size: 18px;
  }
}
.product__price {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #000;
}
@media only screen and (max-width: 576px) {
  .product__price {
    font-size: 16px;
  }
}
.product__rating {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}
.product__rating .product__stars {
  color: gold;
}
.product__rating .product__reviews {
  color: #000;
}
@media only screen and (max-width: 576px) {
  .product__rating {
    margin-bottom: 16px;
    gap: 8px;
  }
}
.product__description {
  font-size: 16px;
  color: #000;
  margin-bottom: 24px;
}
@media only screen and (max-width: 576px) {
  .product__description {
    font-size: 14px;
    margin-bottom: 16px;
  }
}
.product__options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media only screen and (max-width: 576px) {
  .product__options {
    gap: 8px;
  }
}
.product__color {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 24px;
}
.product__color-name {
  font-weight: 700;
  margin-bottom: 8px;
}
.product__color-options {
  display: flex;
  gap: 12px;
}
.product__color-box {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  cursor: pointer;
}
.product__color-box--red {
  background: #9E2A37;
}
.product__color-box--brown {
  background: #3E2830;
}
.product__color-box--black {
  background: #2A292D;
}
@media only screen and (max-width: 576px) {
  .product__color {
    margin-bottom: 16px;
  }
}
.product__size {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product__size-options {
  display: flex;
  gap: 10px;
}
.product__size-btn {
  padding: 14px 23px;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 24px;
  border: 1px solid #f5f5f5;
}
.product__size-btn--active {
  border: 1px solid #000;
  background: transparent;
  color: #000;
}
@media only screen and (max-width: 576px) {
  .product__size-btn {
    padding: 12px 20px;
  }
}
.product__size-chart {
  display: flex;
  justify-content: end;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  text-decoration: underline;
  margin-bottom: 8px;
}
.product__quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  border: none;
}
.product__quantity-controls {
  border: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  padding: 8px 12px;
  border: 1px solid #808080;
}
.product__quantity-btn {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
}
.product__quantity-input {
  width: 50px;
  text-align: center;
  border: none;
}
@media only screen and (max-width: 576px) {
  .product__quantity {
    gap: 8px;
  }
}
.product__actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (max-width: 576px) {
  .product__actions {
    gap: 12px;
  }
}
.product__add-to-cart, .product__buy-with {
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  border: none;
  border-radius: 100px;
  align-items: center;
  cursor: pointer;
}
.product__add-to-cart:first-of-type, .product__buy-with:first-of-type {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  transition: all 0.3s ease-out;
}
.product__add-to-cart:first-of-type:hover, .product__buy-with:first-of-type:hover {
  background: transparent;
  color: #000;
}
.product__add-to-cart:last-of-type, .product__buy-with:last-of-type {
  display: flex;
  justify-content: center;
  background-color: #5A31F4;
  color: #fff;
  margin-bottom: 24px;
  gap: 10px;
  border: none;
}
.product__add-to-cart:last-of-type img, .product__buy-with:last-of-type img {
  height: 17px;
}
@media only screen and (max-width: 576px) {
  .product__add-to-cart, .product__buy-with {
    padding: 14px 16px;
    font-size: 16px;
  }
}
.product__other-options {
  font-size: 14px;
  font-weight: 600;
  line-height: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media only screen and (max-width: 576px) {
  .product__other-options {
    font-size: 14px;
    gap: 8px;
  }
}

.oversized-tees {
  display: flex;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.oversized-tees__container {
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 768px) {
  .oversized-tees__container {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.oversized-tees__left {
  flex: 1;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .oversized-tees__left {
    height: auto;
  }
}
.oversized-tees__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .oversized-tees__image {
    height: auto;
  }
}
.oversized-tees__shop-btn {
  position: absolute;
  bottom: 1rem; /* Adjusted to remove extra space between image and button */
  left: 2rem;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s;
}
.oversized-tees__shop-btn:hover {
  background-color: #000;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .oversized-tees__shop-btn {
    left: 2rem;
    bottom: 1rem;
    font-size: 16px;
    padding: 8px 16px;
  }
}
@media only screen and (max-width: 576px) {
  .oversized-tees__shop-btn {
    left: 1rem;
    bottom: 0.5rem;
  }
}
.oversized-tees__right {
  flex: 2;
}
@media only screen and (max-width: 768px) {
  .oversized-tees__right {
    text-align: center;
  }
}
.oversized-tees__title {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.8;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .oversized-tees__title {
    font-size: 28px;
  }
}
@media only screen and (max-width: 576px) {
  .oversized-tees__title {
    font-size: 24px;
  }
}
.oversized-tees__carousel {
  display: flex;
  gap: 20px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .oversized-tees__carousel {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
.oversized-tees__carousel .oversized-tees__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  cursor: pointer;
  z-index: 5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.oversized-tees__carousel .oversized-tees__nav:hover {
  background-color: #f5f5f5;
}
.oversized-tees__carousel .oversized-tees__nav--left {
  left: -1rem;
}
.oversized-tees__carousel .oversized-tees__nav--right {
  right: -1rem;
}
@media only screen and (max-width: 576px) {
  .oversized-tees__carousel .oversized-tees__nav {
    display: none;
  }
}
.oversized-tees__carousel .oversized-tees__nav svg {
  width: 16px;
  height: 16px;
  fill: #000;
}
.oversized-tees__card {
  position: relative;
  border-radius: 10px;
  text-align: left;
  flex: 0 0 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .oversized-tees__card {
    flex: 0 0 200px;
  }
}
@media only screen and (max-width: 576px) {
  .oversized-tees__card {
    flex: 0 0 150px;
  }
}
.oversized-tees-image {
  position: relative;
}
.oversized-tees-image img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.oversized-tees__wishlist-btn {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: black;
  cursor: pointer;
  border: none;
}
.oversized-tees__wishlist-btn img {
  width: 19.5px;
  height: 18.5px;
}
@media only screen and (max-width: 768px) {
  .oversized-tees__wishlist-btn {
    top: 4px;
    left: 4px;
  }
}
.oversized-tees__details {
  display: flex;
  justify-content: space-between;
}
.oversized-tees__colors {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
}
.oversized-tees__color {
  width: 12px;
  height: 12px;
  border-radius: 0;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  cursor: pointer;
}
.oversized-tees__color:active {
  border-color: #000;
}
.oversized-tees__color.selected {
  border-color: #000;
}
.oversized-tees__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 768px) {
  .oversized-tees__pagination {
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 576px) {
  .oversized-tees__pagination {
    margin-top: 1rem;
  }
}
.oversized-tees__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  padding: 1px;
}
.oversized-tees__dot--active {
  background: #fff;
  border: 0.5px solid #000;
  padding: 3px;
}
.oversized-tees__cart-btn {
  font-size: 1.5rem;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.sale__badge {
  position: absolute;
  top: 8px;
  right: 0;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 0.6;
  text-transform: uppercase;
  background: #000;
  color: #fff;
}

.sale-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.sale-section__container {
  display: flex;
  gap: 20px;
  max-width: 1240px;
  width: 100%;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .sale-section__container {
    flex-direction: column;
    gap: 30px;
  }
}
.sale-section__block {
  position: relative;
  flex: 1;
  max-width: 50%;
  overflow: hidden;
}
.sale-section__block:hover .sale-section__content {
  opacity: 1;
}
@media only screen and (max-width: 576px) {
  .sale-section__block {
    max-width: 100%;
  }
}
.sale-section__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.sale-section__content {
  position: absolute;
  inset: 0;
  max-width: 285px;
  width: 100%;
  margin: 0 auto 0 266px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  z-index: 2;
}
.sale-section__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #000;
}
.sale-section__button {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}
.sale-section__button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.instagram {
  font-family: "Plus Jakarta Sans";
  padding-block: 100px;
  margin-bottom: 100px;
  background-color: #000;
  color: #fff;
}
.instagram__title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.instagram__posts {
  display: flex;
  justify-content: center;
  gap: 26px;
}
.instagram__post {
  max-width: 342px;
  width: 100%;
  padding: 24px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  overflow: hidden;
  opacity: 1;
  transition: all 0.3s;
  cursor: pointer;
}
.instagram__post--rich {
  transform: scale(1.1);
}
.instagram__post--faded {
  opacity: 0.4;
}
.instagram__post:hover {
  opacity: 1;
}
.instagram__details {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 0.5rem;
}
.instagram__account {
  font-size: 12px;
  font-weight: bold;
}
.instagram__time {
  font-size: 10px;
  font-weight: 500;
  color: #435269;
  margin-left: 18px;
  white-space: nowrap;
}
.instagram__handle {
  font-size: 12px;
}
.instagram__text {
  display: flex;
}
.instagram__text__row {
  text-align: left;
  gap: 1rem;
}
.instagram__main-image {
  width: 100%;
  height: auto;
}
.instagram__description {
  font-size: 16px;
  margin: 1rem 0;
}
.instagram__description__hashtags {
  color: #555;
}
.instagram__stats {
  display: flex;
  gap: 8px;
  font-size: 14px;
}
.instagram__stats img {
  width: 16px;
  gap: 10px;
}
.instagram__follow {
  display: block;
  margin: auto;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.instagram__follow:hover {
  background-color: transparent;
  color: #fff;
}

.header__top {
  background: #000;
  color: #fff;
  padding: 8px 0;
}
.header__top-container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  margin-block: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  line-height: 0.5;
}
@media only screen and (max-width: 768px) {
  .header__top-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media only screen and (max-width: 576px) {
  .header__top-container {
    flex-direction: column;
    align-items: center;
  }
}
.header__top-text {
  max-width: 294px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .header__top-text {
    margin-bottom: 8px;
    font-size: 12.6px;
  }
}
.header__top-text a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .header__top-text a {
    font-size: 12.6px;
  }
}
.header__top-menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__top-menu label {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  position: relative;
}
.header__top-menu label select {
  background: transparent;
  border: none;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
}
.header__top-menu label select option {
  background-color: #000;
  color: #fff;
}
.header__select {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
}
@media only screen and (max-width: 576px) {
  .header__select {
    font-size: 12.6px;
  }
}
.header__main {
  background: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.header__main .container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .header__main .container {
    flex-direction: column;
    gap: 15px;
  }
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media only screen and (max-width: 576px) {
  .header__icons {
    gap: 10px;
    justify-content: center;
  }
}
.header__icon {
  font-size: 24px;
  cursor: pointer;
}
@media only screen and (max-width: 576px) {
  .header__icon {
    font-size: 20px;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 32px;
}
@media only screen and (max-width: 768px) {
  .header__menu {
    gap: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .header__menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    display: none;
  }
}
.header__menu-item a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
  cursor: pointer;
  transition: color 0.5s;
}
.header__menu-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.4s ease-in-out;
}
.header__menu-item a:hover {
  color: #000;
}
.header__menu-item a:hover::after {
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .header__menu-item a {
    font-size: 12.6px;
  }
}
@media only screen and (max-width: 576px) {
  .header__menu-item {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
