@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

$color-black: #000;
$color-white: #fff;
$color-gray: #f5f5f5;
$color-gray-light-new: #F3F3F3;
$color-gray-new: #808080;
$color-gray-new-light: #435269;
$color-purple: #5A31F4;
$color-yellowish: #FFBE15;
$color-light-black: #121212;

$color-product-primary: #9E2A37;
$color-product-secondary: #3E2830;
$color-product-tertiary: #2A292D;

$font-size-xxxsmall: 10px;
$font-size-xxsmall: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-medium-large: 18px;
$font-size-medium-xlarge: 24px;
$font-size-large: 32px;
$font-size-xlarge: 48px;

$banner-height: 80vh;

$max-container-width: 1240px;

$container-bottom-margin: 100px;