// FONT
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray: #f5f5f5;

// FONTS
// $font-family: 'Inter';

// FONT SIZES
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 32px;

// HEIGHT
$banner-height: 80vh;