.image-gallery {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__row {
    display: flex;
    justify-content: center;
    gap: 10px;

    @include respond-to('medium') {
      flex-direction: column;
      align-items: center;
      gap: 15px;

      &--top,
      &--bottom {
        margin: 20px 0;
      }
    }

    &--top {
      margin-bottom: 40px;
    }

    &--bottom {
      margin-top: 40px;
    }
  }

  &__img {
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    transition: all 0.3s ease;

    
    @include respond-to('medium') {
      width: 90%;
      max-width: 600px;
      height: auto;
      margin: 0 auto;
      
    }


    @include respond-to('medium') {
      &--1, &--2, &--3, &--4 {
        position: static;
        top: unset;
        right: unset;
      }
    }
    &--1 {
      position: relative;
      top: 215px;
      right: 90px;
    }

    &--2 {
      position: relative;
      top: 25px;
      right: 32px;
    }

    &--3 {
      position: relative;
      top: -150px;
      right: -170px;
    }

    &--4 {
      position: relative;
      top: -300px;
      right: -210px;
    }
  }

  &__center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

  
    @include respond-to('medium') {
      margin-top: 20px;
    }
  }

  &__logo {
    width: 90px;
    height: auto;


    position: relative;
    top: -92px;
    right: -20px;

    @include respond-to('medium') {
      position: static;
      top: unset;
      right: unset;
      margin-top: 15px;
    }
  }
}
