.product {
  &__section {
    max-width: $max-container-width;
    width: 100%;
    margin: 0 auto;
    margin-bottom: $container-bottom-margin;

    @include respond-to('small') {
      margin-bottom: 20px;
    }
  }

  &__heading {
    text-align: center;
    font-size: $font-size-large;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;

    @include respond-to('small') {
      font-size: $font-size-medium;
      margin-bottom: 30px;
    }

    @include respond-to('medium') {
      font-size: $font-size-medium-large;
      margin-bottom: 35px;
    }
  }

  &__container {
    max-width: $max-container-width;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 32px;

    @include respond-to('small') {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__images {
    position: relative;
    display: flex;

    @include respond-to('small') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__main-image {
    img {
      border: 1px solid #ccc;
      width: 100%;
      height: auto;
    }

    @include respond-to('small') {
      max-width: 100%;
      width: 100%;
    }

    @include respond-to('medium') {
      max-width: 90%;
    }
  }

  &__thumbnails {
    display: flex;
    flex-direction: column;
    height: 99%;
    justify-content: space-between;
    position: absolute;
    left: -120px;

    img {
      flex: 1;
      width: auto;
      height: auto;
      max-height: calc(100% / 5);
      object-fit: cover;
      cursor: pointer;
      border: none;
      transition: all 0.3s ease-out;

      &:hover {
        transform: translateY(-5px);
      }

      @include respond-to('small') {
        max-width: 100%;
        height: auto;
      }
    }

    @include respond-to('small') {
      left: 75px;
      height: 100%;
      flex-direction: row;
      align-items: end;
      position: relative;
    }
  }

  &__details {
    max-width: 609px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    @include respond-to('small') {
      padding: 10px;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title {
    font-size: $font-size-medium-xlarge;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;

    @include respond-to('small') {
      font-size: $font-size-medium-large;
    }
  }

  &__price {
    font-size: $font-size-medium-xlarge;
    font-weight: 600;
    margin-bottom: 12px;
    color: $color-black;

    @include respond-to('small') {
      font-size: $font-size-medium;
    }
  }

  &__rating {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;

    .product__stars {
      color: gold;
    }

    .product__reviews {
      color: $color-black;
    }

    @include respond-to('small') {
      margin-bottom: 16px;
      gap: 8px;
    }
  }

  &__description {
    font-size: $font-size-medium;
    color: $color-black;
    margin-bottom: 24px;

    @include respond-to('small') {
      font-size: $font-size-small;
      margin-bottom: 16px;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include respond-to('small') {
      gap: 8px;
    }
  }

  &__color {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 24px;

    &-name {
      font-weight: 700;
      margin-bottom: 8px;
    }

    &-options {
      display: flex;
      gap: 12px;
    }

    &-box {
      width: 16px;
      height: 16px;
      border: 1px solid $color-white;
      cursor: pointer;

      &--red {
        background: $color-product-primary;
      }

      &--brown {
        background: $color-product-secondary;
      }

      &--black {
        background: $color-product-tertiary;
      }
    }

    @include respond-to('small') {
      margin-bottom: 16px;
    }
  }

  &__size {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-options {
      display: flex;
      gap: 10px;
    }

    &-btn {
      padding: 14px 23px;
      background-color: $color-white;
      cursor: pointer;
      margin-bottom: 24px;
      border: 1px solid $color-gray;

      &--active {
        border: 1px solid $color-black;
        background: transparent;
        color: $color-black;
      }

      @include respond-to('small') {
        padding: 12px 20px;
      }
    }

    &-chart {
      display: flex;
      justify-content: end;
      font-size: $font-size-small;
      font-weight: 500;
      text-transform: uppercase;
      color: $color-black;
      text-decoration: underline;
      margin-bottom: 8px;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    border: none;

    &-controls {
      border: none;
      font-size: $font-size-medium;
      font-weight: 500;
      display: flex;
      padding: 8px 12px;
      border: 1px solid $color-gray-new;
    }

    &-btn { 
      width: 30px;
      height: 30px;
      border: none;
      cursor: pointer;
      text-align: center;
      background-color: transparent;
    }

    &-input {
      width: 50px;
      text-align: center;
      border: none;
    }

    @include respond-to('small') {
      gap: 8px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond-to('small') {
      gap: 12px;
    }
  }

  &__add-to-cart,
  &__buy-with {
    padding: 16px 20px;
    font-size: $font-size-medium-large;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    border: none;
    border-radius: 100px;
    align-items: center;
    cursor: pointer;

    &:first-of-type {
      background: $color-black;
      color: $color-white;
      border: 1px solid $color-black;
      transition: all 0.3s ease-out;

      &:hover {
        background: transparent;
        color: $color-black;
      }
    }

    &:last-of-type {
      display: flex;
      justify-content: center;
      background-color: $color-purple;
      color: $color-white;
      margin-bottom: 24px;
      gap: 10px;
      border: none;

      img {
        height: 17px;
      }
    }

    @include respond-to('small') {
      padding: 14px 16px;
      font-size: $font-size-medium;
    }
  }

  &__other-options {
    font-size: $font-size-small;
    font-weight: 600;
    line-height: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @include respond-to('small') {
      font-size: $font-size-small;
      gap: 8px;
    }
  }
}
