.sale__badge {
  position: absolute;
  top: 8px;
  right: 0;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 0.6;
  text-transform: uppercase;
  background: $color-black;
  color: $color-white;
}
